@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:ital,wght@1,700&display=swap');

.HomeMain {
	height: auto;
	width: 100vw;
	background-color: #091525;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Banner {
	margin-bottom: 2%;
	margin-top: 2%;
	width: 70%;
	align-items: center;
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 60px;
	color: white;
}

.Banner p {
	width: 100%;
}
.SearchContainer {
	background-color: #060D17;
	border-radius: 360px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 70%;
	margin-bottom: 24px;
}

.SearchText {
	width: 120%;
	padding: 12px 20px;
	margin: 8px 0;
	font-family: Montserrat;
	font-size: 45px;
	color: white;
	background-color: transparent;
	outline: none;
	border: none;
}
.SearchIcon {
	background-color: #060D17;
	margin-left: 32px;
}

.CardsContainer {
  display: flex;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 28px;
}

a {
  transition: 0.3s;
  color: white;
  margin: 8px;
  text-decoration: none;
}
a:hover {
  color: #f3cb36;
}

.Left {
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.Right {
  display: flex;
  flex-direction: column;
}